<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>id</key>
	<string>MLA1</string>
	<key>title</key>
	<string>Disco externo</string>
	<key>condition</key>
	<string>Nuevo</string>
	<key>price</key>
	<string>2000</string>
	<key>sold_quantity</key>
	<string>12</string>
	<key>available_quantity</key>
	<string>50</string>
	<key>thumbnail</key>
	<string></string>
	<key>seller_address</key>
	<dict>
		<key>city</key>
		<dict>
			<key>name</key>
			<string>Rosario</string>
		</dict>
	</dict>
	<key>pictures</key>
	<array>
		<dict>
			<key>secure_url</key>
			<string>https://mlu-s1-p.mlstatic.com/628772-MLU31242544139_062019-O.jpg</string>
		</dict>
		<dict>
			<key>secure_url</key>
			<string>https://mlu-s1-p.mlstatic.com/633904-MLU31380462116_072019-O.jpg</string>
		</dict>
	</array>
</dict>
</plist>
